/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* || UTILITY */

.nowrap {
    white-space: nowrap;
}

/* || FONT DEFINE */

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* || VARIABLES */



/* || GENERAL STYLES */

body {
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main {
    background-color: white;
    border: 1px solid black;
    max-width: 339px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1rem;
    box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
}

.image {
    margin-bottom: 10px;
}

.image--img {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}


.meta {
    margin: 10px 0px;
}

.meta--h1 {
    font-weight: 800;
    font-size: min(0.75rem, 2vw);
    margin: 15px 0px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 0.25rem;
    background-color: hsl(47, 88%, 63%);
}

.meta--p {
    color: hsl(0, 0%, 7%);
    font-size: min(1rem, 4vw);
}

.content--h1 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: min(20px, 4vw);
}

.content--h1:hover, .content--h1:focus {
    color: hsl(47, 88%, 63%);
}

.content--p {
    font-size: min(14px, 3vw);
    font-weight: 500;
    color: hsl(0, 0%, 42%)
}

.footer {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 21px;
    gap: 15px;
}

.footer--pfp {
    width: 32px;
    height: auto;
}

.footer--h2 {
    font-size: min(24px, 5vw);
}

/* || ATTRIBUTION */

.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    bottom: 5px;
    right: 5px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}